*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-img.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

body .bg-shadow {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

header .header-color {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

header .brand-logo {
  padding-top: 10px;
  color: #4a8fcf;
  letter-spacing: 7px;
  text-shadow: 5px 5px 10px black;
}

header .brand-logo span {
  color: whitesmoke;
}

header .brand-logo i {
  position: relative;
  bottom: 2px;
  font-size: 21px;
  color: whitesmoke;
}

.nav-link {
  padding: 5px 15px 10px;
  margin-left: 30px;
  color: #4a8fcf;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 5px;
  -webkit-transition: color .6s;
  transition: color .6s;
}

.nav-link:hover {
  color: whitesmoke;
}

.home {
  padding-top: 80px;
  height: 100vh;
}

.home .cover-heading {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 20px 10px 0px;
  margin: 0px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 7px;
  text-shadow: 5px 5px 1px black;
  color: whitesmoke;
  -webkit-animation: brand-name-color ease-in 1.5s;
          animation: brand-name-color ease-in 1.5s;
}

.home .lead {
  position: absolute;
  top: 40%;
  padding-top: 20px;
  margin: 0px 15px;
  font-size: 16px;
  text-align: center;
  text-shadow: 5px 5px 1px black;
}

.home a {
  position: relative;
  top: 55vh;
  margin: 70px 0 20px;
  color: whitesmoke;
  background-color: #4a8fcf;
  border-color: #4a8fcf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  -webkit-transition: color .7s, background-color .7s, border-color .7s;
  transition: color .7s, background-color .7s, border-color .7s;
}

.home a:hover {
  color: #4a8fcf;
  background-color: whitesmoke;
  border-color: whitesmoke;
}

.offer {
  margin: 100px 20px 40px 0px;
  color: #4a8fcf;
}

.offer .row {
  margin: 0px 25px;
}

.offer .row .card {
  margin: 10px 10px;
  padding: 0;
  background-color: whitesmoke;
  -webkit-transition: -webkit-transform ease-out .3s;
  transition: -webkit-transform ease-out .3s;
  transition: transform ease-out .3s;
  transition: transform ease-out .3s, -webkit-transform ease-out .3s;
}

.offer .row .card .card-header {
  background-color: rgba(0, 0, 0, 0.1);
}

.offer .row .card .card-header h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.offer .row .card .card-body {
  padding: 5px 5px;
  margin-top: 5px;
}

.offer .row .card .card-body h2 {
  font-size: 24px;
}

.list-unstyled {
  font-size: 16px;
}

.list-unstyled .discount {
  margin: 0 40px;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contact {
  text-transform: uppercase;
}

.contact h3 {
  letter-spacing: 5px;
}

.contact .form-check {
  margin-right: 20px;
  text-align: left;
  text-transform: lowercase;
}

.contact .form-check label {
  font-size: 12px;
}

.contact .btn-primary {
  min-width: 250px;
  margin: 30px 0 50px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #4a8fcf;
  border-color: #4a8fcf;
  -webkit-transition: color .7s, background-color .7s, border-color .7s;
  transition: color .7s, background-color .7s, border-color .7s;
}

.contact .btn-primary:hover {
  color: #4a8fcf;
  background-color: whitesmoke;
  border-color: whitesmoke;
}

.adress {
  text-transform: none;
}

.adress u {
  font-size: 16px;
  letter-spacing: 5px;
}

@media (max-width: 405px) {
  .nav-link {
    margin: 0;
    margin-left: 20px;
    letter-spacing: 2px;
  }
  .last {
    margin-left: 10px;
  }
}

.inner {
  background-color: rgba(0, 0, 0, 0.8);
}

.inner p {
  margin-bottom: 0;
  font-size: 14px;
}

@-webkit-keyframes brand-name-color {
  0% {
    color: #4a8fcf;
  }
  100% {
    color: whitesmoke;
  }
}

@keyframes brand-name-color {
  0% {
    color: #4a8fcf;
  }
  100% {
    color: whitesmoke;
  }
}

.animate__animated.animate__fadeInUp {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animate__backInUp {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animate__pulse {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
/*# sourceMappingURL=style.css.map */